.firstDiv{
    color:purple;
}

.secondDiv{
    background-color:yellow;
    width: 300px;
}

#singledout{
    color: red;
    text-decoration: underline;
}

*{
    color: purple;
}

h3 + ul{
    border: 3px dotted hotpink;
    width: 250px;
}

li a{
    color: black;
}

li a[href="www.npr.org"]{
    color: red;
    border: 5px solid orange;
}