body{
    background: url(https://c4.wallpaperflare.com/wallpaper/586/675/740/vaporwave-wallpaper-preview.jpg);
    background-repeat:no-repeat;
    justify-content: space-between;
    align-items: stretch;
}

div{
    width: 300px;
    background: blue;
    border: orange;
    border-width: thick; /* 10px */
    border-style: dotted;
}

p{
    color:yellow;
}

span{
    background: red;
    color: black;
}